/*Selector{
	Property: value;
}*/
* {
	text-align: center;
}
body{
	background-image: url(background_img.jpg);
	background-size: cover;
}

h2, p:last-child {
	color: #128942;
	font-size: 58;
	text-align: center;
	border: 5px solid rgba(47, 106, 106,0.4);
	background-color: rgba(255,0,0,0.1);
	cursor: pointer;
	font-size: 50px;
}
li {
	list-style: none;
	display: inline-block;
	font-size: 26px;
}
p {
	color: green;
}

/*CLASS*/
.webtext:first-child{
	border: 5px dashed pink;
}

.webtext:last-child{
	border: 5px dashed
}

.active{
	color: blue;
}

/*ID*/
#div1{
	background-color: rgba(0,0,255,0.2);
}

#div2{
	background-color: rgba(0,255,0,0.1);
}

